<!-- title list characters -->
<h1 class="mt-5 mb-5 text-uppercase text-bold text-center">
    <b> Rick and Morty </b> 
</h1>
<hr>

<!-- list characters -->
<div class="row mt-4">
    <div class="col-lg-4 col-md-6 mb-2">
        <app-card-character></app-card-character>
    </div>
    <div class="col-lg-4 col-md-6 mb-2">
        <app-card-character></app-card-character>
    </div>
    <div class="col-lg-4 col-md-6 mb-2">
        <app-card-character></app-card-character>
    </div>
    <div class="col-lg-4 col-md-6 mb-2">
        <app-card-character></app-card-character>
    </div>
    <div class="col-lg-4 col-md-6 mb-2">
        <app-card-character></app-card-character>
    </div>
    <div class="col-lg-4 col-md-6 mb-2">
        <app-card-character></app-card-character>
    </div>
    <div class="col-lg-4 col-md-6 mb-2">
        <app-card-character></app-card-character>
    </div>
    <div class="col-lg-4 col-md-6 mb-2">
        <app-card-character></app-card-character>
    </div>
    <div class="col-lg-4 col-md-6 mb-2">
        <app-card-character></app-card-character>
    </div>
    <div class="col-lg-4 col-md-6 mb-2">
        <app-card-character></app-card-character>
    </div>
    <div class="col-lg-4 col-md-6 mb-2">
        <app-card-character></app-card-character>
    </div>
    <div class="col-lg-4 col-md-6 mb-2">
        <app-card-character></app-card-character>
    </div>
</div>
